.flow>h2+* {
    margin-top: 2.5rem;
}

.flow>div {
    margin-bottom: 1.125rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

img {
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

@media only screen and (min-width: 62rem) {
    .flow h2+* {
        margin-top: 1rem;
    }
}