body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: $neutral-grey-blue;
    font-family: "Barlow Semi Condensed", sans-serif;
}


main {
    width: 90%;
    max-width: 69.375rem;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
        'one'
        'two'
        'three'
        'four'
        'five';
    gap: 1.5rem;
}

article {
    border-radius: .5rem;
    padding: 1.625rem 2rem 2rem;
}

article:first-child {
    background-image: url("../images/bg-pattern-quotation.svg");
    background-position: top 0 right 10%;
    background-repeat: no-repeat;
}

h2 {
    font-size: 1.25rem;
    line-height: 1.2;
}

p {
    font-size: .8125rem;
    line-height: 1.125rem;
}

@media only screen and (min-width: 62rem) {
    main {
        grid-template-areas:
            'one one two five'
            'three four four five'
        ;
    }

    article:first-child {
        background-position: top 0 right 20%;
    }
}