.text-primary-white {
    color: $primary-white;
}

.text-primary-grey-blue {
    color: $primary-gray-blue;
}

.text-neutral-gray {
    color: $neutral-grey;
}

.text-size-11 {
    font-size: .6875rem;
}

.text-size-13 {
    font-size: .8125rem;
}

.bg-violet {
    background-color: $primary-violet;
}

.bg-gray-blue {
    background-color: $primary-gray-blue;
}

.bg-black {
    background-color: $primary-black-blue;
}

.bg-white {
    background-color: $primary-white;
}

.fw-700 {
    font-weight: 700;
}