$primary-white: hsl(0, 0%, 100%);
$primary-violet: hsl(263, 55%, 52%);
$primary-gray-blue: hsl(217, 19%, 35%);
$primary-black-blue: hsl(219, 29%, 14%);

$neutral-grey: hsl(0, 0%, 81%);
$neutral-grey-blue: hsl(210, 46%, 95%);